{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    {% if page.social.summary %}
    <meta property="og:description" content="{{ page.social.summary }}" />
    {% else %}
    <meta property="og:description" content="{{ page.blocks.content|striptags|slice(0, 255) }}..." />
    {% endif %}
    {% if page.social.highlight_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.social.highlight_image }}" />
    {% endif %}
{% endblock %}

{% block topbanner %}
{% if page.social.highlight_image %}
<div class="row-fluid">
    <div class="span12">
        <img src="{{ site.url }}{{ page.social.highlight_image }}" style="width:100%" />
    </div>
</div>
{% endif %}
{% endblock %}

{% block content_wrapper %}
    <article>
        <header>
            <h2>{{ page.title }}</h2>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
    </article>

{% if site.disqus.shortname and site.disqus.shortname != '' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{site.disqus.shortname}}'; // required: replace example with your forum shortname


    {% if page.disqus.identifier  %}var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}

    {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}

    {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}

    {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
{% endif %}

{% endblock %}

{% block recentposts %}
<div class="span4 sidebar">
    <div class="well">
        <h4>About</h4>
        Posted on:<br />
        {{ page.date|date("d-m-Y") }}<br />
        Posted by:<br />
        Stefan Koopmanschap<br />
        {% if page.social.highlight_image and page.social.highlight_image_credits %}
            Image by
                {% if page.social.highlight_image_credits.url %}
                <a href="{{ page.social.highlight_image_credits.url }}">
                {% endif %}
                    {{ page.social.highlight_image_credits.name }}
                {% if page.social.highlight_image_credits.url %}
                </a>
                {% endif %}
        {% endif %}
        <br /><br />
        {% if (date(page.date) < date("-1 year")) %}
        <div style="border:1px dotted black; background-color: lightyellow; color: red; padding: 4px;">
            Please note: This post is over a year old. The information in this post may be outdated. Some additional research may be required.
        </div>
        {% endif %}

        <br />

        {% if page.categories %}
        <p class="categories">
            Categories<br />
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a><br />
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
